<!DOCTYPE html>

<html>
    <head>
        <!--things not displayed on screen-->
        <title> Django Blog </title>
    </head>
    <body>
        <!--container tags organize your website into sections-->
        <header> <!--Title of webpage-->
            <!--a or anchor tags link to something-->
            <h1><a href="/">Django Girl's Blog </a></h1> <!--headers that denote heading titles of sections in webpage-->
        </header>
        <!--artcile container tag: it is used to described articles or posts-->
        {% for post in posts %}
            <article>
                <time>published: {{post.published_date}}</time>
                <h2><a href="">{{post.title}}t</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
            </article>  
        {% endfor %}

        <article>
            <time>published: 14/06/2014, 12:17</time>
            <h2><a href="">My second post</a></h2>
            <p>Hello my name is cheese balls pt 2</p>
        </article>

        <article>
            <time>published: 14/06/2014, 12:17</time>
            <h2><a href="">My second post</a></h2>
            <p>Hello my name is cheese balls pt 2</p>
        </article>

    </body>
</html>